body {

}

@font-face {
    font-family: 'geoSans';
    src: url('GeosansLight.ttf');
}

@font-face {
    font-family: 'chamLimo';
    src: url('Champagne & Limousines.ttf');
}

@font-face {
  font-family: 'GeoSans';
  src: url('GeosansLight.tff'); /* IE9 Compat Modes */
  src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('GeosansLight.ttf') format('ttf'), /* Super Modern Browsers */
       url('GeosansLight.ttf') format('ttf'), /* Pretty Modern Browsers */
       url('GeosansLight.ttf')  format('ttf'), /* Safari, Android, iOS */
       url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

#background {
	position:absolute;
	z-index:-1;
	left:0;
	top:0;
	width:100%;
	height:100%;
}

#heading {
	position: absolute;
    left: 2%;
    top: 20px;
	height: 140px;
	width: 1040px;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#001b0e+0,01361d+100 */
	background: #01361d; /* Old browsers */
	background: -moz-linear-gradient(top,  #001b0e 0%, #01361d 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #001b0e 0%,#01361d 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #001b0e 0%,#01361d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001b0e', endColorstr='#01361d',GradientType=0 ); /* IE6-9 */
}

#heading-border {
	position: absolute;
    left: 10px;
    top: 10px;
	bottom: 10px;
	right: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: white;
}

#logo {
	position: absolute;
	width: 24%;
	height: 100%;
	text-align: center;
	/*background-color: blue;*/
}

#pic-container{
	position: absolute;
	height: 75%;
	width: 72%;
	left: 0;
	right: 0;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	/*background-color: green;*/
	top: 50%;
	-webkit-transform: translateY(-50%);
 	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

#heading-text{
	position: absolute;
	width: 76%;
	right: 0%;
	height: 100%;
	/*background-color: purple;*/
}

#ecg-title {
	position: absolute;
	top: 26px;
	width:373px;
	height:34px;
	left: 8px;
	/*background-color: black;*/
}

#links-div {
	position: absolute;
	bottom: 0px;
	width: 700px;
	height: 30px;
	bottom: 13px;
	left: 8px;
	/*background-color: green;*/
}

.links {
	float: left;
	padding-right: 56px;
	/*background-color: red;*/
}

.link-text {
	color: white;
	font-family: 'geoSans';
	font-size: 22px;
	/*top: 50%;*/
}

#link-text-container{

}

#footer-div {
	position: absolute;
	left: 2%;
	right: 2%;
	bottom: 0px;
	height: 270px;
	min-width: 1190px;
	/*background-color: purple;*/
}

#motto-div {
	position: absolute;
	background-color: white;
    bottom: 20px;
	height: 200px;
	left: -2000px;
	width: 100%;
	/*background-color: red;*/
}

#address-div {
	position: absolute;
	bottom: 0px;
	height: 270px;
	left: 0;
	width: 300px;
}

#motto {
	position: absolute;
	bottom: 20px;
	height: 200px;
	width: 73%;
	left: -2000px;
	/*background-color: blue;*/
}

.motto-text {
	font-family: 'geoSans';
	font-size: 30px;
	text-align: center;
}

#motto-text-container{
	position: absolute;
	left: 4%;
	right: 4%;
	height: 100%;
	/*background-color: green;*/
}

#address-container {
	position: absolute;
	bottom: -1000px;
	height: 270px;
	width: 25%;
	right: 2%;
	min-width: 300px;
	/*background-color: black;*/
}

#address {
	position: absolute;
	height: 100%;
	width: 100%;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#001b0e+0,01361d+100 */
	background: #001b0e; /* Old browsers */
	background: -moz-linear-gradient(top,  #01361d 0%, #001b0e 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #01361d 0%, #001b0e 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #01361d 0%,#001b0e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001b0e', endColorstr='#01361d',GradientType=0 ); /* IE6-9 */

}

#address-border {
	position: absolute;
    left: 10px;
    top: 10px;
    right: 10px;
    bottom: 0px;
	border-style: solid;
	border-width: 1px;
	border-color: white;
	border-bottom: 0;
}

#motto-border {
	position: absolute;
    left: 10px;
    top: 10px;
    bottom: 10px;
    right: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: #01361d;
}

/*
******************************* Begin Team Definitions *******************************
*/
#team-scrollable {
	position: absolute;
	top: 2000px;
	bottom: 0px;
	width: 100%;
	overflow: auto;
}

#team-div {
	background-color: white;
	opacity: 0.96;
	position: absolute;
	width: 80%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	min-width: 900px;
	height: 1210px;
}

#team-border {
	position: absolute;
    left: 10px;
    top: 10px;
    right: 10px;
    bottom: 10px;
	border-style: solid;
	border-width: 2px;
	border-color: #01361d;
}

#team-title {
	display: block;
	width: 500px;
	height: 70px;
	margin-right: auto;
	margin-left: auto;
}

#team-title-text {
	height: 70px;
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
	font-family: 'chamLimo';
	font-size: 60px;
	text-align: center;
}

.h-line {
	height: 1px;
}

#meet-line {
	margin-right: auto;
	margin-left: auto;
	margin-top: -50px;
	width: 300px;
	background-color: black;
}

.line-group {
	width: 86%;
	height: 1px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 15px;
	margin-top: 15px;
}

#name-line {
	float: left;
	width: 50%;
}

.name-line-physical {
	background-color: black;
	opacity: 0.3;
	width: 40%;
	height: 1px;
	margin-right: auto;
	margin-left: auto;
}

.member-group {
	margin-right: auto;
	margin-left: auto;
	height: 180px;
	width: 86%;
}

#members-div {
	margin-top: 30px;
}

.member {
	height: 180px;
	width: 50%;
	float: left;
}

.member-text {
	font-family: 'geoSans';
	font-size: 24px;
	text-align: center;
}

.employee-name {
	font-size: 32px;
	font-weight: 900;
}

#links-line {
	background-color: white;
	position: absolute;
	opacity: 0.8;
	width: 10px;
	margin-top: 28px;
}

.address-text {
	position: absolute;
	top: 55px;
	left: 30px;
	width: 400px;
	height: 500px;
	color: white;
	font-family: 'geoSans';
	font-size: 20px;
}

#bold-office-name {
	font-size: 22px;
	font-weight: 900;
}

/*
******************************* Begin News Style Definitions *******************************
*/


#news-scrollable {
	position: absolute;
	top: 2000px;
	bottom: 0px;
	width: 100%;
	overflow: auto;
}

#news-div {
	background-color: white;
	opacity: 0.96;
	position: absolute;
	width: 80%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	min-width: 900px;
	height: 920px;
}

#news-border {
	position: absolute;
    left: 10px;
    top: 10px;
    right: 10px;
    bottom: 10px;
	border-style: solid;
	border-width: 2px;
	border-color: #01361d;
}

#news-items-div {
	margin-top: 30px;
	/*background-color: blue;*/
}

.one-news-div {
	margin-right: auto;
	margin-left: auto;
	/*background-color: blue;*/
	width: 750px;
	height: 100px;
}

.two-news-div {
	margin-right: auto;
	margin-left: auto;
	width: 750px;
	height: 160px;
	/*background-color: red;*/
}

.news-line-div {
	margin-right: auto;
	margin-left: auto;
	width: 750px;
	height: 1px;
	margin-bottom: 20px;
	margin-top: 20px;
	/*background-color: red;*/
}

.news-line-physical {
	background-color: black;
	opacity: 0.3;
	width: 60%;
	height: 1px;
	/*background-color: purple;*/
}

.news-logo-div {
	/*background-color: black;*/
	width: 320px;
	height: 100%;
	left: 0;
	float: left;
}

.vertical-align{
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
 	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.news-text-div {
	height: 100%;
	/*background-color: purple;*/
	width: 430px;
	float: left;
	font-family: 'geoSans';
	font-size: 20px;
	top: 0;
	bottom: 0;
	padding: 0;

}

.one-news-text {
	text-align: center;
	/*background-color: purple;*/
	font-family: 'geoSans';
	font-size: 20px;
	height: 100%;
	text-align: left;
	margin-left: 60px;
	/*margin-top: 22px;*/
	width:410px;

}

.two-news-text {
	/*text-align: center;*/
	font-family: 'geoSans';
	font-size: 20px;
	height: 100%;
	text-align: left;
	margin-left: 60px;
	/*margin-bottom: 25px;*/
	width:410px;
	z-index: 20;
}

.article-name {
	font-size: 24px;
	font-weight: 600;
	z-index: 20;
}



/*
******************************* Begin Link Style Definitions *******************************
*/
a:link, a:visited {
	text-decoration: none;
	color: black;
}



/*
******************************* Begin Bio Style Definitions *******************************
*/
.bio-div {
	position: absolute;
	background-color: white;
	opacity: 0.98;
	position: absolute;
	width: 1050px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	top: -560px;
	height: 510px;
}

.bio-div-border{
	position: absolute;
    left: 10px;
    top: 10px;
	bottom: 10px;
	right: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: #01361d;
}

.bio-left-column{
	float: left;
	width: 300px;
	height: 100%;
	/*background-color: blue;*/
}

.bio-pic-container {
	width: 256px;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	/*background-color: purple;*/
	min-height: 200px;
	text-align: center;
}

.bio-pic-border {
	position: absolute;
    left: 10px;
    top: 10px;
    bottom: 10px;
    right: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: green;
}

.bio-name-title {
	width: 256px;
	margin-top: 22px;
	margin-left: auto;
	margin-right: auto;
	/*background-color: yellow;*/
	height: 100px;
	font-family: 'geoSans';
	font-size: 24px;
	text-align: right;
}

.bio-right-column{
	float:right;
	width: 718px;
	margin-right: 10px;
	margin-top:10px;
	height: 100%;
	/*background-color: red;*/
	text-align: left;
	font-family: 'geoSans';
	display: table;
	table-layout: fixed;
}

.bio-right-column span {
    display: table-row;
    text-align: left;
}

.bio-name {
	font-size: 32px;
	font-weight: 900;
}



/*
******************************* Begin Larry-Specific Bio ID Definitions *******************************
*/
#larry-bio-text-size {
	font-size: 19px;
}



/*
******************************* Begin Gerard-Specific Bio ID Definitions *******************************
*/
#gerard-bio-text-size{
	font-size: 18px;
}



/*
******************************* Begin Contact Us Definitions *******************************
*/
#partners-div {
	background-color: white;
	opacity: 0.96;
	position: absolute;
	width: 90%;
	height: 80vh;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	min-width: 1120px;
	min-height: 580px;
	top: 2000px;
}

#partners-border {
	position: absolute;
    left: 10px;
    top: 10px;
    right: 10px;
    bottom: 10px;
	border-style: solid;
	border-width: 2px;
	border-color: #01361d;
}

#partners-pic-divider{
	position: absolute;
	/*background-color: purple;*/
	height: 41%;
	width: 100%;
}

#partners-title-divider{
	position: absolute;
	/*background-color: blue;*/
	width: 100%;
	height: 18%;
	top: 41%;
}

#partners-text-divider{
	position: absolute;
	/*background-color: red;*/
	width: 100%;
	height: 41%;
	top: 59%;

}

#bravante-pic-container{
	position: absolute;
	bottom: 0px;
	height: 200px;
	width: 750px;
	vertical-align: bottom;
	right: 0;
	left: 0;
	margin-right: auto;
	margin-left: auto;
	background-color: red;
}

#bravante-pic-container-border {
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	border-style: solid;
	border-width: 2px;
	border-color: black;
}

#partners-title {
	display: block;
	width: 500px;
	height: 70px;
	margin-right: auto;
	margin-left: auto;
}

#partners-title-text {
	height: 70px;
	margin-top: 1%;
	margin-right: auto;
	margin-left: auto;
	font-family: 'chamLimo';
	font-size: 70px;
	text-align: center;
}

#partners-line {
	position: absolute;
	left: 0;
	right: 0;
	margin-right: auto;
	margin-left: auto;
	bottom: 0;
	width: 300px;
	background-color: black;
}

#bravante-info-container {
	height: 100%;
	width: 85%;
	left: 0;
	right: 0;
	margin-right: auto;
	margin-left: auto;	
	max-width: 1025px;
	/*background-color: blue;*/
}

.bravante-text {
	font-family: 'geoSans';
	font-size: 30px;
	text-align: center;
}