body {

}

@font-face {
    font-family: 'geoSans';
    src: url('GeosansLight.ttf');
}

@font-face {
    font-family: 'chamLimo';
    src: url('Champagne & Limousines.ttf');
}

@font-face {
  font-family: 'GeoSans';
  src: url('GeosansLight.tff'); /* IE9 Compat Modes */
  src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('GeosansLight.ttf') format('ttf'), /* Super Modern Browsers */
       url('GeosansLight.ttf') format('ttf'), /* Pretty Modern Browsers */
       url('GeosansLight.ttf')  format('ttf'), /* Safari, Android, iOS */
       url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

#background {
	position:absolute;
	z-index:-1;
	left:0;
	top:0;
	width:100%;
	height:100%;
}

#heading {
	background-color: white;
	position: absolute;
    left: 20px;
    top: 20px;
	height: 140px;
	width: 1040px;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#001b0e+0,01361d+100 */
	background: #01361d; /* Old browsers */
	background: -moz-linear-gradient(top,  #001b0e 0%, #01361d 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #001b0e 0%,#01361d 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #001b0e 0%,#01361d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001b0e', endColorstr='#01361d',GradientType=0 ); /* IE6-9 */

}

#heading-border {
	position: absolute;
    left: 10px;
    top: 10px;
	height: 120px;
	width: 1020px;
	border-style: solid;
	border-width: 1px;
	border-color: white;
}

#logo {
	position: absolute;
	top: 24px;
	left: 47px;
	width: 173px;
	height: 93px;
}

#ecg-title {
	position: absolute;
	top: 40px;
	left: 264px;
	width:373px;
	height:34px;
}

#links-div {
	position: absolute;
	left: 264px;
	top: 88px;
	width: 700px;
	height: 30px;
}

.links {
	float: left;
	padding-right: 56px;
}

.link-text {
	color: white;
	font-family: 'geoSans';
	font-size: 22px;
}

#address-div {
	position: absolute;
    left: 1060px;
    top: 1540px;
    height: 270px;
	width: 300px;
}

#address {
	position: absolute;
    /*left: 1060px;
    top: 540px;*/
	height: 270px;
	width: 300px;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#001b0e+0,01361d+100 */
	background: #001b0e; /* Old browsers */
	background: -moz-linear-gradient(top,  #01361d 0%, #001b0e 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #01361d 0%, #001b0e 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #01361d 0%,#001b0e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001b0e', endColorstr='#01361d',GradientType=0 ); /* IE6-9 */

}

#address-border {
	position: absolute;
    left: 10px;
    top: 10px;
	height: 330px;
	width: 280px;
	border-style: solid;
	border-width: 1px;
	border-color: white;
}

#motto-div {
	position: absolute;
	left: -1980px;
    top: 580px;
	height: 200px;
	width: 1380px;
}

#motto {
	background-color: white;
	position: absolute;
    /*left: 24px;
    top: 580px;*/
	height: 200px;
	width: 1380px;
}

#motto-text {
	/*background-color: red;*/
	position: absolute;
	top: 12px;
	left: 68px;
	width: 900px;
	height: 140px;
	font-family: 'geoSans';
	font-size: 30px;
	text-align: center;
}

#motto-border {
	position: absolute;
    left: 10px;
    top: 10px;
	height: 180px;
	width: 1360px;
	border-style: solid;
	border-width: 1px;
	border-color: #01361d;
}

#team-div {
	background-color: white;
	opacity: 0.96;
	position: absolute;
	/*top: 180px;*/
	top: 2000px;
	left:50%;
	height: 630px;
	width: 1200px;
}

#team-border {
	position: absolute;
    left: 10px;
    top: 10px;
	height: 1230px;
	width: 1176px;
	border-style: solid;
	border-width: 2px;
	border-color: #01361d;
}

#team-title {
	display: block;
	width: 500px;
	height: 70px;
	margin-right: auto;
	margin-left: auto;
}

#team-title-text {
	width: 500px;
	height: 70px;
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
	font-family: 'chamLimo';
	font-size: 60px;
	text-align: center;
}

.h-line {
	height: 1px;
}

#meet-line {
	margin-right: auto;
	margin-left: auto;
	margin-top: -50px;
	width: 300px;
	background-color: black;
}

.line-group {
	width: 1000px;
	height: 1px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
	margin-top: 20px;
}

#name-line {
	float: left;
	width: 160px;
	margin-right: 170px;
	margin-left: 170px;
	background-color: black;
	opacity: 0.3;
}

.member-group {
	margin-right: auto;
	margin-left: auto;
	height: 180px;
	width: 1000px;
}

#members-div {
	margin-top: 30px;
}

.member {
	height: 180px;
	width: 500px;
	float: left;
}

.member-text {
	font-family: 'geoSans';
	font-size: 24px;
	text-align: center;
}

.bold-name {
	font-size: 32px;
	font-weight: 900;
}

#links-line {
	background-color: white;
	position: absolute;
	opacity: 0.8;
	width: 10px;
	margin-top: 28px;
}

.address-text {
	position: absolute;
	top: 55px;
	left: 30px;
	width: 400px;
	height: 500px;
	color: white;
	font-family: 'geoSans';
	font-size: 20px;
}

#bold-office-name {
	font-size: 22px;
	font-weight: 900;
}